@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2 style="text-align:center">Welcome to the Movie Registration and Validation Program!</h2>
<h4 style="text-align:center">Please click on the Movie Registration Form link above to begin using this program.</h4>